/nginx/sites-enabled/*
!/nginx/sites-enabled/.gitkeep

/nginx/sites/*
!/nginx/sites/.gitkeep
# !/nginx/*.conf
!/nginx/sites/default.conf

!/nginx/sites-enabled/default.conf


/projects/*
!/projects/.gitkeep


/gen/
!/gen/.gitkeep
