.npm-init-form-container {
  text-align: start;
  width: 100%;
}

h2 {
  text-align: center;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
label {
  width: 100px;
  font-size: 16px;
}

input[type="text"],
input[type="email"] {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  max-width: 60%;
  overflow: hidden;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  /* background-color: #007bff; */
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

button[type="submit"]:active {
  background-color: #004494;
}
